/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --header_background-image: url(../images/cover-image-light.png);
  --header_name-color: #FFC2E6;
}

.theme-light .title-decor {
  color: var(--text-color);
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
  border-color: var(--text-color);
}

.theme-light .main__section-header {
  color: var(--text-color);
}

.theme-light .decorated-zone::after {
  border-color: var(--text-color);
}

.theme-light .decorated-zone::before {
  border-color: var(--text-color);
}


@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --header_background-image: url(../images/cover-image-light.png);
    --header_name-color: #FFC2E6;
  }
  .title-decor {
    color: var(--text-color);
  }

  .header__rec {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
    border-color: var(--text-color);
  }

  .main__section-header {
    color: var(--text-color);
  }

  .decorated-zone::after {
    border-color: var(--text-color);
  }

  .decorated-zone::before {
    border-color: var(--text-color);
  }
}