/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --main-font-size: 18px;
  --main-font-family: 'IBM Plex mono', sans-serif;
  --page_padding: 10px;
  --main_gap: 40px;
  --main_height: 668px;
  --main_width: 375px;
  --header_name_height: 192px;
  --header_edges_height: calc((var(--main_height) - var(--header_name_height) - 2 * var(--page_padding)) / 2);
  --header_background-image: url(../images/cover-image-dark.png);
  --header_name-color: #DB00FF;
  --footer_shadow-color: #FF0070;
}

@media (width >= 768px) {
  :root {
    --page_padding: 20px;
    --main_gap: 60px;
    --main_height: 1024px;
    --main_width: 768px;
    --header_name_height: 99px;
  }
}

@media (width >= 1024px) {
  :root {
    --main_height: 768px;
    --main_width: 1024px;
    --header_name_height: 130px;
  }
}